<!DOCTYPE html>
<html>
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

#myLi {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li p {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}
</style>
</head>
<body>

	<!-- <ul>
		<li><a href="#home">Home</a></li>
		<li><a href="#news">News</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul> -->
	<ul>
		<li id="myLi"><a th:href="@{/GMap/generatePDF}">Download PDF</a></li>
		<li id="myLi"><a th:href="@{/GMap/generatePDF}">Email
				Notification</a></li>
		<li><p align="right">Total Matches Found</p></li>
	</ul>
</body>
</html>
